{
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 132,
    "useTabs": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "off"
}